body {
    padding: 0%;
    margin: 0%;
    background-color: rgb(167, 214, 238);
}


#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 751px) {

    #header {
        padding-top: 80px;
        text-align: center;
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
    }

    #sub-header {
        padding-left: 1%;
        grid-column: 1 / span 1;
        grid-row: 3 / 5;
    }

    #sub-header2 {
        padding-top: 5%;
        padding-left: 1%;
        grid-column: 1 / span 1;
        grid-row: 7 / 9;
    }

    #event-street {
        margin-bottom: 10px;
    }
    
    #event-city {
        margin-left: 16px;
    }

    #sub-header3 {
        padding-top: 5%;
        padding-left: 1%;
        grid-column: 1 / span 1;
        grid-row: 10 / 12;
    }

    #event-date {
        margin-bottom: 10px;
    }

    #button {
        margin: 15%;
        grid-column: 1 / span 1;
        grid-row: 12 / 13;
        display: flex;
        justify-content: space-evenly;
    }
}