body {
    padding: 0%;
    margin: 0%;
    background-color: rgb(167, 214, 238);
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 751px) {

    textarea {
        width: 450px;
        height: 150px;
    }

    #header {
        padding-top: 80px;
        text-align: center;
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
    }

    #sub-header1 {
        padding-left: 1%;
        grid-column: 1 / span 1;
        grid-row: 3 / 5;
    }

    #sub-header2 {
        padding: 10px;
        padding-left: 1%;
        grid-column: 1 / span 1;
        grid-row: 5 / 7;
    }

    #button {
        margin: 15px;
        grid-column: 1 / span 1;
        grid-row: 7 / 8;
        display: flex;
        justify-content: space-evenly;
    }
}