@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding: 0;
}


#no-match {
    color: red;
}

.no-show {
    display: none;
}

#fill {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-columns: 100vw;

}

.label {
    margin-top: 7px;
    padding: 3px;
}

#log {
    margin-top: 20px;

}

#img {
    max-width: 45vw;
    max-height: 60vh;
}

#content {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#login {
    margin-left: 30px;
    margin-top: 30px;
}

/* ################ utility classes ############# */

.color-dark{
    color: #3a3e59;
}
.color-pink{
    color: #c36b84
}
.color-yellow{
    color: #f9ac66;
}
.color-orange{
    color: #ed6b5b;
}

@media screen and (max-width: 850px) {
        
    #no-match {
        color: red;
    }
        
    .no-show {
        display: none;
    }
    #content {
        display: flex;
        justify-content: flex-start;
        margin-top: 7px;
        flex-direction: column;
    }

    #img {
        max-width: 70vw;
        max-height: 60vh;
        margin-left: 30px;
    }

    #fill {
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 27%;
        grid-template-columns: 80%;
    
    }
    #content {
        min-height: 60vh;
    }
    #login{
        margin-top: 10px;
    }
    
    
}