@media only screen and (max-width: 600px) {

    
    #greeting {
        width: 100%;
        display: grid;
        grid-template-columns: 3% 20% 74% 3%;
        grid-template-rows: 30% 40% 30%;
        height: 75px;
        letter-spacing: -1px;
    }

    #greeting>#avatar {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width: 100%;
        height: 64px;
        border: 1px solid black;
    }
    #epic-image {
        position: relative;
        width: 60px;
        height: 60px;
        left: 300px;
        top: 62px;
        z-index: 1;
    }

    #welcome {
        width: 100%;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 24px;
        margin-left: 10px;
    }

    #username-placeholder {
        grid-row: 1 / span 1;
        font-size: 24px;
        margin-left: 10px;
    }


    #searchbar {
        margin-left: 2%;
        margin-right: 2%;
        width: 94%;
        font-size: 16px;
        padding: 12px 1% 12px 1%;
        border: 1px solid rgb(66, 52, 52);
        margin-bottom: 12px;
    }


    input {
        width: 50%;
    }
    
    #error-message {
        font-size: 32px;
        color: red;
    }
    #card-loader {
        display: grid;
        grid-template-columns: 100% !important;
    }

    .card {
        grid-column: 1 !important;
        width: 93% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 7px !important;
        border-radius: 30px;
        background: white;
    }

    .card>* {
        margin-left: 30px;
    }

    body {
        background: rgb(239, 203, 203);
    }

}

@media only screen and (min-width: 601px) {

    input {
        width: 300px;
    }
    #error-message {
        font-size: 32px;
        color: red;
    }

    body {
        background: rgb(239, 203, 203);
    }

    .card {
        border-radius: 30px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 7px;
        overflow-x: hidden;
        background: white;
        box-shadow: 0px 5px rgb(240, 157, 157);
    }

    #epic-image {
        position: relative;
        width: 120px;
        height: 120px;
        left: 70vw;
        top: 12px;
        z-index: 1;
    }
    .card>* {
        margin-left: 30px;
    }


    #greeting {
        display: grid;
        grid-template-columns: 3% 8% 86% 3%;
        grid-template-rows: 30% 40% 30%;
        height: 75px;
        letter-spacing: -1px;
    }

    #greeting>#avatar {
        grid-column: 2 / span 1;
        grid-row: 2;
        width: 100%;
        min-width: 80px;
        height: 64px;
        border: 1px solid black;
    }

    #welcome {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        font-size: 32px;
        margin-left: 40px;
        margin-top: 15px;
    }

    #username-placeholder {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        font-size: 32px;
        margin-left: 10px;
    }

    #searchbar {
        margin-left: 2%;
        margin-right: 2%;
        width: 94%;
        font-size: 16px;
        padding: 12px 1% 12px 1%;
        border: 1px solid rgb(66, 52, 52);
        margin-bottom: 12px;
    }

    #searchbar>p {
        margin-left: 50px;
    }
}

#content button {
    cursor: pointer;
}

#content {
    overflow-x: hidden;
}