#container {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 150px 1fr;
    height: 100%;
}

@media (max-width: 751px) {

    #container {
        background-image: url("dog-signup.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(50, 136, 159);
    }

    #sign-up {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    #signup-info {
        backdrop-filter: blur(10px);
    }

    #header {
        backdrop-filter: blur(10px);
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*  https://www.w3schools.com/html/html_forms.asp used this make fromes */

/* https://www.w3schools.com/cssref/pr_background-image.asp */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */