#container {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 150px 1fr;
    height: 100%;
}

#no-match {
    color: red;
}

    #container {
        background-image: url("dog-signup.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(50, 136, 159);
    }

    #sign-up {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    #signup-info {
        backdrop-filter: blur(8px);
    }

    #header {
        backdrop-filter: blur(10px);
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media (min-width: 751px) {
    body {
        margin: 0%;
        padding: 0%;
    }

    h2 {
        color: aliceblue;
    }

    label {
        color: aliceblue;
    }
    
    #header {
        backdrop-filter: blur(8px);
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    body {
        background-image: url("signup-page-desktop.jpg");
        background-size: cover;
    }

    #sign-up {
        grid-column: 2 / 3;
        grid-row: 2 / 10;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    #signup-info {
        backdrop-filter: blur(8px);
    }

}


/* I used this to set a the background image. */
/* https://www.w3schools.com/cssref/pr_background-image.asp */

/* I used this to have background filter. */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */

/* This is where i got the image. For the background */
/* https://www.pinterest.com/pin/662803270141957661/ */