@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Saira:ital,wght@1,500&family=Sansita+Swashed:wght@500&family=Square+Peg&family=Work+Sans:wght@300&display=swap');


.ss{
    border: 2px solid rgb(72, 75, 118);
    border-radius: 2px;
    min-width: 50%;
    min-height: 70%;
}

#bar{
    width: 25%;
    height: 5%;
    display: flex;
}

#s1{
    background-color: rgb(175, 172, 188);
}
#s2{
    background-color: rgb(175, 172, 188);
}
#s3{
    background-color: rgb(175, 172, 188);
}
#s4{
    background-color: rgb(175, 172, 188);
}
#s5{
    background-color: rgb(175, 172, 188);
}

.btns{
    margin-top: 10px;
}

#warning{
    color: red;
    margin-top: 10px;
}

