<header id="navbar">
    <div id="logo-div">
        <img id="logo-image" alt="Dog" src="./img/logo-transparent.png" />
    </div>
    <div id="hamburger-menu">
        <div id="hambuger-icon">☰</div>
    </div>
    <ul id="nav-items" class="hidden">
        <li><button class="nav-btn" id="home-nav">🏠 Home</button></li>
        <li><button class="nav-btn" id="home-nav">👤 Profile</button></li>
        <li><button class="nav-btn" id="home-nav">✚ Create</button></li>
        <li><button class="nav-btn" id="home-nav">🔎 Search</button></li>
        <li><button class="nav-btn" id="home-nav">🚪 Logout</button></li>
    </ul>
</header>