<header id="navbar">
  <div id="logo-div">
    <img id="logo-image" alt="Dog" src="./img/logo-transparent.png" />
  </div>
  <div id="hamburger-menu">
    <div id="hambuger-icon">☰</div>
  </div>
  <ul id="nav-items" class="hidden">
    <li><a class="nav-btn" href="/" id="home-nav"><span>🏠 Home</span></a></li>
    <li><a class="nav-btn" href="/profile" id="home-nav"><span>👤 Profile</span></a></li>
    <li><a class="nav-btn" href="/create" id="home-nav"><span>✚ Create</span></a></li>
    <li><a class="nav-btn" href="/search" id="home-nav"><span>🔎 Search</span></a></li>
    <li><a class="nav-btn" href="/logout" id="home-nav"><span>🚪 Logout</span></a></li>
  </ul>
</header>